.NameCapture {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NameCapture__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    flex: 1;
}

.NameCapture__title {
    text-align: center;
    font-size: 3.2rem;
    margin-bottom: 40px;
}

.NameCapture__form-wrapper {
    width: 300px;
}

@media (max-width: 450px) {
    .NameCapture__form-wrapper {
        width: 100%;
    }
}

.NameCapture__continue-button {
    text-align: center;
    margin-top: 25px;
}

.NameCapture__continue-button > button {
    display: block;
    width: 100%;
}
