.Quiz {

}

.Quiz__content-container {
    padding: 0 225px;
    display: flex;
    justify-content: center;
}

@media (max-width: 900px) {
    .Quiz__content-container {
        padding: 0 150px;
    }
}

@media (max-width: 600px) {
    .Quiz__content-container {
        padding: 0 75px;
    }
}

.Quiz__title {
    font-size: 1.5rem;
    line-height: 1;
    color: var(--very-dark-blue);
    font-weight: 700;
    padding: 35px 20px;
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    .Quiz__title {
        font-size: 1.2rem;
        padding: 25px 20px;
    }
}

.Quiz__progress-indicator {
    position: absolute;
    top: 0;
    right: 20px;
}
