.QuestionAnswer {
    display: block;
    background-color: #F7F7F7;
    border: 2px solid #F1F1F1;
    padding: 20px;
    position: relative;
    border-radius: 5px;
    transition: border-color .2s;
}

.QuestionAnswer.--selected {
    border-color: var(--blue)
}

.QuestionAnswer-question-number {
    position: absolute;
    top: 4px;
    left: 4px;
    font-size: .625rem;
    line-height: 1;
    text-transform: uppercase;
    color: #B3B3B3;
    font-weight: 900;
    transition: color .2s;
}

.QuestionAnswer-question-number.--selected {
    color: var(--blue)
}

.QuestionAnswer__text strong {
    font-weight: 700;
}

.QuestionAnswer__text em {
    font-style: italic;
}
