.TextInput__container {
    max-width: 300px;
}

@media (max-width: 450px) {
    .TextInput__container {
        max-width: none;
    }
}

.TextInput {
    box-sizing: border-box;
    width: 100%;
    border: 2px solid #F1F1F1;
    font-size: 1.6rem;
    line-height: 1;
    background-color: #F7F7F7;
    border-radius: 5px;
    transition: border-color .2s;
    padding: 20px;
    display: block;
}

.TextInput:focus {
    outline: 0;
    border-color: var(--blue);
}
