.Landing {
    display: flex;
}

.Landing__main-content {
    margin-right: 100px;
}

@media (max-width: 767px) {
    .Landing__main-content {
        margin-right: 0;
    }
}

.Landing__start-button {
    margin-top: 24px;
}

.Landing__title {
    margin-top: 120px;
    font-size: 3.2rem;
    line-height: 4.2rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.Landing__image {
    flex-shrink: 0;
    width: 40.4980237%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 24px;
}

@media (max-width: 767px) {
    .Landing__image {
        display: none;
    }
}


.Landing__devices {
    display: block;
    width: 100%;
    height: auto;
}
