.QuizQuestion {

}

.QuizQuestion__question p {
    font-size: 2rem;
}

.QuizQuestion__code-figure {
    border: 1px solid #e6e8eb;
    background-color: #f7f9fa;
}

.QuizQuestion__code-figure > pre {
    margin: 0;
}

.QuizQuestion__code-figure .hljs {
    background-color: transparent;
    padding: 20px 15px;
}

.QuizQuestion__answers-list {

}
