.QuizQuestion {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.QuizQuestion__introduction {
    margin-bottom: 40px;
    font-size: 2rem;
    color: var(--very-dark-blue);
    line-height: 1.2;
    font-weight: 700;
    text-align: center;
}

.QuizQuestion__question {
    margin-bottom: 40px;
    text-align: center;
}

@media (max-width: 900px) {
    .QuizQuestion__question {
        margin-bottom: 30px;
    }
}


@media (max-width: 600px) {
    .QuizQuestion__question {
        margin-bottom: 20px;
    }
}

.QuizQuestion__question code {
    background-color: #f7f9fa;
    padding: 0 4px;
}

.QuizQuestion__question p {
    font-size: 2rem;
}

@media (max-width: 900px) {
    .QuizQuestion__question p {
        font-size: 1.6rem;
    }
}


@media (max-width: 600px) {
    .QuizQuestion__question p {
        font-size: 1.4rem;
    }
}


.QuizQuestion__code-figure {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.QuizQuestion__code-figure > pre {
    margin: 0;
}

.QuizQuestion__code-figure .hljs {
    padding: 20px 15px;
    border-radius: 5px;
}

.QuizQuestion__answers-list-wrapper {
    display: flex;
    justify-content: center;
}

.QuizQuestion__answers-list {
    list-style-type: none;
    flex: 1;
}

.QuizQuestion__answers-list.--grid {
    display: grid;
    grid-template-columns: 50% 50%;
    list-style-type: none;
}

@media (max-width: 600px) {
    .QuizQuestion__answers-list.--grid {
        display: block;
    }
}

.QuizQuestion__answers-list > li {
    flex: 1;
    margin: 0 0 25px;
}

.QuizQuestion__answers-list.--grid > li:nth-child(odd) {
    margin-right: 15px;
}

.QuizQuestion__answers-list.--grid > li:nth-child(even) {
    margin-left: 15px;
}

@media (max-width: 600px) {
    .QuizQuestion__answers-list.--grid > li:nth-child(odd) {
        margin-right: 0;
    }

    .QuizQuestion__answers-list.--grid > li:nth-child(even) {
        margin-left: 0;
    }
}

.QuizQuestion__submit-button-wrapper {
    display: flex;
    justify-content: center;
}
