:root {
    --dark-gray: #333333;
    --dark-blue: #3597cc;
    --blue: #37B9F1;
    --light-blue: #9ADCF8;
    --very-dark-blue: #2F658C;
    --red: #BB0017;
    --green: #80AE52;
    --minTouchSize: 48px;
}

body {
    font-family: 'Lato', sans-serif;
}

pre {
    font-family: monospace;
}

p,
ul,
ol,
pre {
    line-height: 1.4;
}

ol {
    list-style-type: decimal;
}

ul > li,
ol > li {
    margin-left: 20px;
}

pre > .hljs {
    padding: 0
}

#root {
}

code {
    padding: 0 4px;
    font-family: SourceCodePro, monospace;
}

strong {
    font-weight: 700
}

p + p {
    margin-top: 20px
}

fieldset {
    min-width: 0;
}

.visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.btn.disabled {
    opacity: .5;
}
