.CompletedHeader {
    padding-bottom: 45px;
    margin-bottom: 45px;
    border-bottom: 1px solid #E8E8E8
}

.CompletedHeader__header-content {
    max-width: 800px;
}

.CompletedHeader__title {
    color: var(--very-dark-blue);
    font-size: 2rem;
    line-height: 1.3;
    margin-bottom: 40px;
    font-weight: 900;
}

.CompletedHeader__coding-strength {
    font-size: 1.5rem;
    line-height: 1.3;
    margin-bottom: 20px;
}

.CompletedHeader__schedule-call-button {
    margin-top: 25px
}
